.user-guide-container {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fff;
  margin: 30px auto;
  padding: 32px 24px;
}
.title {
  font-size: 16px;
  color: #171a1f;
  line-height: 1.63;
}

.scenario-cards-container {
  display: flex;
  gap: 16px;
  position: relative;
  justify-content: center;
}

.left-arrow,
.right-arrow {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: -20px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: -20px;
}

.scenario-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 16px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin: 20px 0px;
  justify-content: center;
  flex: 1;
}

.scenario-title {
  font-size: 12px;
  line-height: 1.67;
  color: #171a1f;
}
.scenario-description {
  font-size: 12px;
  line-height: 1.42;
  color: #9095a1;
}
.read-more-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.read-more-text {
  font-size: 12px;
  line-height: 1.67;
  color: #9095a1;
}
/* @media screen and (max-width: 1300px) {
  .scenario-cards-container {
    flex-wrap: wrap;
  }
} */
